

h1{
 font-size: 45px; 
 color: white;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

.titlecenter {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 52%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lftcenter {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 40%;
  -ms-transform: translate(-45%, -45%);
  transform: translate(-50%, -50%);
}

.rghtcenter {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 65%;
  -ms-transform: translate(-35%, -35%);
  transform: translate(-50%, -50%);
}

.center {
  margin: 0;
  position: absolute;
  top: 55%;
  left: 51%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.grnbutton {
  background-color: #2ED9A4;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
}

.blbutton {
  background-color: #6C5CFC;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
  position: absolute;
  top:90%;
}

html, body {
  width: 100%;
  height: 100%;
  background: url("creatica22background.png"); 
}

p{
  color: white;  
  font-size: 25px;
  font-family:'Rubik', sans-serif;
}

.code{
  color: white;  
  font-size: 25px;
  font-family:'Rubik', sans-serif;
}



