p{
  color: white;  
  font-size: 25px;
  font-family:'Rubik', sans-serif;
}

.blbutton {
  background-color: #6C5CFC;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
  position: absolute;
  top:90%;
}